##############################################
#  PureBasic package for Sublime Text 4      #
#  https://github.com/tajmone/ST4-PureBasic  #
##############################################

## PureBasic
############
*.pb.cfg
*.pbi.cfg
*.pbp
project.cfg

## Sublime Text 4
#################
*.sublime-project
*.sublime-workspace

## Misc Work Files
##################

# Temporary/backup or removed files and folders:
___*
___*.*

# Links and URLs
*.lnk
*.url

## Apps Local Settings & Temp Files
###################################

# Chrome's debug logs for local HTML pages:
debug.log

############################
## COMMON IGNORE PATTERNS ##
############################

## Linux
########
*~
.directory
.fuse_hidden*
.nfs*
.Trash-*

## macOS
########
*.DS_Store
._*
.AppleDouble
.LSOverride
Icon

## Windows
##########
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
.BIN/
